<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Dados do Perfil</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% if @user.errors.any? %>
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <%= form_with(url: users_backoffice_profile_path, model: @user, local: true, class:"form-horizontal form-label-left") do |form| %>

          <div class="item form-group">
            <%= form.label :first_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.text_field  :first_name,
                                   :class => 'form-control', placeholder: 'Digite seu nome' %>
            </div>
          </div>

          <div class="item form-group">
            <%= form.label :last_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.text_field  :last_name, class: 'form-control', placeholder: 'Digite seu sobrenome' %>
            </div>
          </div>

          <%= form.fields_for :user_profile do |profile_form| %>
            <div class="item form-group">
              <%= profile_form.label :address, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <%= profile_form.text_field  :address, class: 'form-control', placeholder: 'Digite seu endereço' %>
              </div>
            </div>

            <div class="item form-group">
              <%= profile_form.label :gender, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <div id="gender" class="btn-group" data-toggle="buttons">
                  <label class="btn <%= gender_select(@user , 'M' ) %>" >
                    <%= profile_form.radio_button  :gender, "M", "data-parsley-multiple":"gender", style:"width: 0; height:0;visibility: hidden;" %>Masculino
                  </label>
                  <label class="btn <%= gender_select(@user , 'F' ) %>" >
                    <%= profile_form.radio_button  :gender, "F", "data-parsley-multiple":"gender", style:"width: 0; height:0;visibility: hidden;" %>Feminino
                  </label>
                </div>
              </div>
            </div>

            <%= javascript_tag do %>
                var labels = document.querySelectorAll('div#gender label');

                labels.forEach((label) => {
                    label.addEventListener('click', () => {
                        label.classList.remove('btn-default')
                        label.classList.add('btn-primary')

                        labels.forEach((lbl) => {
                            if(lbl !== label) {
                              lbl.classList.remove('btn-primary')
                              lbl.classList.add('btn-default')
                            }
                        })
                    })
                })
            <% end %>

            <div class="item form-group">
              <%= profile_form.label :birthdate, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <%= profile_form.date_field  :birthdate, class: 'form-control' %>
              </div>
            </div>
          <% end %>

          <div class="item form-group">
            <%= form.label :email, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.email_field  :email,
                                    class: 'form-control',
                                    readonly: true
              %>
            </div>
          </div>

          <div class="item form-group">
            <%= form.label :password, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
              <%= form.password_field :password, class: 'form-control', placeholder: 'Digite uma senha' %>
              </div>
          </div>


          <div class="item form-group">
            <%= form.label :password_confirmation, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme a senha' %>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
