<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <h1>Entrar</h1>
          <div>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
          </div>

          <div>
            <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div>
            <%= f.submit "Entrar", class:"btn btn-default submit", style:"float: none; margin-left: 0; width: 70%;" %>
          </div>
        <% end %>
      </section>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
