<div class="jumbotron">
  <h3>
    <%= msg_jumbotron %>
  </h3>
</div>

<% @questions.each do |question| %>
  <%= form_with url: url_for(controller: "site/answer", action: "question"), local: false do |form| %>
    <div class="card mb-1">
      <div class="card-header">
        <%= link_to question.subject.description,
                    site_search_subject_path(question.subject_id, question.subject.description),
                    class:"badge badge-primary"%>
        <%= question.description %>
      </div>
      <div class="card-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li>
            <div class="form-check">
              <label class="form-check-label">
              <%= radio_button_tag 'answer_id', answer.id, class:"form-check-input"  %>
                <%= answer.description %>
              </label>
            </div>
            </li>
          <% end %>
          <li>
            <%= form.submit 'responder', class:'btn btn-primary', id: "submit_#{question.id}" %>
          </li>
        </ul>
      </div>
    </div>
  <%end %>
<% end %>


<div class="text-center">
  <%= paginate @questions %>
</div>
