<div class="container h-100">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List of Administrators</h1>
    </div>
  </div>
  <section >
    <div class="control-section" data-controller='table'>
      <div class="content-wrapper">
        <%= search_form_for @q, url: url_for(action: 'index') do |f| %>

          <%= f.label :email_field %>
          <%= f.search_field :email_cont %>
          <%= f.submit %>
        <% end %>
        <div id="Grid" data-url="<%= url_for(request.query_parameters.merge(format: 'json')) %>">
        </div>
      </div>
    </div>
  </section>
</div>
