<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>TimeToAnswer</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'site' %>

</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <%= link_to 'Time to Answer', root_path, class:'navbar-brand' %>

    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
              <% unless user_signed_in? %>
              <li class="nav-item">
                  <%= link_to 'Entrar', new_user_session_path , class:"nav-link" %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Cadastrar-se', new_user_registration_path , class:"nav-link" %>
              </li>
              <% else %>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown">
                    <%= link_to users_backoffice_welcome_index_path, method: :delete, class:"dropdown-item" do %>
                      <i class="fa fa-user fa-fw"></i> Perfil
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                      <i class="fa fas-sign-out fa-fw"></i> Sair
                    <% end %>
                  </div>

              </li>
              <% end %>
            <li>
              <%= form_with(url: site_search_path, local: true, method: :get, class:"form-inline mt-2 mt-md-0") do |form| %>
                <%= form.text_field :term, class:"form-control mr-sm-2", placeholder:"Digite algo..." %>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
              <% end %>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="jumbotron">

      <% unless params[:term] %>
        <h3>Últimas perguntas cadastradas...</h3>
      <% else %>
        <h3>Resultados para o termo "<%= params[:term] %>"</h3>
      <%end %>
    </div>
    <%= yield %>
  </main>

  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'site' %>

  <% if notice%>
    <%= javascript_tag do %>
      $.bootstrapGrowl('<%= notice %>', {
      type: 'success', // (null, 'info', 'danger', 'success')
      align: 'right', // ('left', 'right', or 'center')
      allow_dismiss: true, // If true then will display a cross to close the popup.
      stackup_spacing: 10 // spacing between consecutively stacked growls.
      });
    <% end %>
  <% end %>
</body>
</html>
